{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Klik2Match.nl{% endblock %}</title>
        <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
        {% block extracss %}

        {% endblock %}
        <!-- ugly hack for bootstrap selectboxes that screw up the selections-->
        <style>
            .form-control {
                padding: .6rem .8rem !important;
                border: 2px solid #ced4da !important;
                transition: none !important;
            }
            select.form-control{
                height: auto !important;
                padding: .6rem .8rem calc(.6rem + 1px) .8rem !important;
            }
        </style>


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header>
                <div class="navbar navbar-light bg-light navbar-static-top navbar-expand-md" role="navigation">
                    <div class="container"> <a class="navbar-brand" href="{{ path('homepage') }}">

                            Klik2Match.nl

                        </a>
                        <button type="button" class="navbar-toggler"
                                data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>
                            &#x2630;</button>
                        <div
                                class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">

                                {% block header_navigation_links %}
                                    {#<li>
                                        <a href="{{ path('blog_index') }}">
                                            <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans }}
                                        </a>
                                    </li>#}
                                    {% if not app.user %}
                                        <li>
                                            <a href="{{ path('app_register') }}">
                                                <i class="fa fa-user-plus" aria-hidden="true"></i> {{ 'menu.register'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin_index') }}">
                                                <i class="fa fa-user" aria-hidden="true"></i> {{ 'menu.login'|trans }}
                                            </a>
                                        </li>


                                    {% endif %}
                                {% endblock %}

                                <li>
                                    <a href="{{ path('blog_search') }}"> <i class="fa fa-search"></i> {{ 'menu.search'|trans }}</a>
                                </li>

                                {% if app.user %}

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li>
                                            <a href="{{ path('admin_post_index') }}">
                                                <i class="fa fa-lock" aria-hidden="true"></i> {{ 'menu.admin'|trans }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('user_edit_main') }}">
                                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.user_edit'|trans }}
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{{ path('security_logout') }}">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                                        </a>
                                    </li>


                                {% endif %}


                            </ul>
                        </div>

                    </div>

                </div>
            </header>
        {% endblock %}

        <div class="container body-container">
            {% block submenu %}
                submenu base
            {% endblock %}

            {% block body %}

                <div class="row">
                    <div id="main" class="col-sm-9">
                        {{ include('default/_flash_messages.html.twig') }}

                        {% block main %}
                        {% endblock %}
                    </div>


                </div>
            {% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-6">
                            <p>&copy; {{ 'now'|date('Y') }} - The Symfony Project</p>
                            <p>{{ 'mit_license'|trans }}</p>
                        </div>
                        <div id="footer-resources" class="col-md-6">
                            <p>
                                <a href="https://twitter.com/symfony" title="Symfony Twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="https://symfony.com/blog/" title="Symfony Blog">
                                    <i class="fa fa-rss" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}

        {# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
        <!-- Page rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->
    </body>
</html>
