{% extends 'user/usermenu.html.twig' %}

{% set tab_active = 'meta' %}


{% block main %}
    <br />
    <div class="form-group col-md-12">
        <div class="row">
            {{ form_start(form, {'method': 'POST'}) }}


            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">
                    Woonplaats
                </label>
                <div class="col-sm-4">
                    {{ form_label(form.provincie) }}
                    <div class="well">
                        {{ form_widget(form.provincie) }}
                    </div>
                </div>
                <div class="col-sm-4">
                    {{ form_label(form.plaats) }}
                    <div class="well">
                        {{ form_widget(form.plaats) }}
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">
                    {{ form_label(form.status) }}
                </label>
                <div class="col-sm-4">
                    {{ form_widget(form.status) }}
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">
                    Voorkeur
                </label>
                <div class="col-sm-4">
                    {{ form_label(form.opzoek) }}
                    <div class="well">
                        {{ form_widget(form.opzoek) }}
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">
                    Kinderen
                </label>
                <div class="col-sm-4">
                    {{ form_label(form.kinderen) }}
                    <div class="well">
                        {{ form_widget(form.kinderen) }}
                    </div>
                </div>
                <div class="col-sm-4">
                    {{ form_label(form.kinderwens) }}
                    <div class="well">
                        {{ form_widget(form.kinderwens) }}
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">
                    Gewoontes
                </label>
                <div class="col-sm-4">
                    {{ form_label(form.roken) }}
                    <div class="well">
                        {{ form_widget(form.roken) }}
                    </div>
                </div>
                <div class="col-sm-4">
                    {{ form_label(form.drugs) }}
                    <div class="well">
                        {{ form_widget(form.drugs) }}
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">
                    Eten/drinken
                </label>
                <div class="col-sm-4">
                    {{ form_label(form.drinken) }}
                    <div class="well">
                        {{ form_widget(form.drinken) }}
                    </div>
                </div>
                <div class="col-sm-4">
                    {{ form_label(form.vegetarisch) }}
                    <div class="well">
                        {{ form_widget(form.vegetarisch) }}
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">
                    {{ form_label(form.sport) }}
                </label>
                <div class="col-sm-4">
                    {{ form_widget(form.sport) }}
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">
                    Uiterlijk
                </label>
                <div class="col-sm-3">
                    {{ form_label(form.lengte) }}
                    <div class="well">
                        {{ form_widget(form.lengte) }}
                    </div>
                </div>
                <div class="col-sm-3">
                    {{ form_label(form.bouw) }}
                    <div class="well">
                        {{ form_widget(form.bouw) }}
                    </div>
                </div>
                <div class="col-sm-4">
                    {{ form_label(form.haarkleur) }}
                    <div class="well">
                        {{ form_widget(form.haarkleur) }}
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">
                    {{ form_label(form.afkomst) }}
                </label>
                <div class="col-sm-4">
                    {{ form_widget(form.afkomst) }}
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">
                    {{ form_label(form.religie) }}
                </label>
                <div class="col-sm-4">
                    {{ form_widget(form.religie) }}
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-sm-2">
                    {{ form_label(form.opleiding) }}
                </label>
                <div class="col-sm-4">
                    {{ form_widget(form.opleiding) }}
                </div>
            </div>


            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
            </button>

            {{ form_end(form) }}
            {#{{ form_widget(form.provincie_id, {'attr': {'class': 'custom-select'}}) }}#}
        </div>
    </div>

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <script>
        var $provincie = $('#profiel_provincie');
        // When provincie gets selected ...

        $provincie.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected provincie value.
            var data = {};
            data[$provincie.attr('name')] = $provincie.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current position field ...
                    $('#profiel_plaats').replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(html).find('#profiel_plaats')
                    );
                    // Position field now displays the appropriate positions.
                }
            });
        });
    </script>


{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('user_change_password') }}" class="btn btn-lg btn-block btn-danger">
            <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.change_password'|trans }}
        </a>
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}



{% endblock %}


