{% extends 'base.html.twig' %}

{% block tabsmenu %}

    <div >
        <ul class="nav nav-tabs ">
            {% set disabled = '' %}
            {% if tab_active == 'show_profile' %}
                {% set disabled = 'disabled' %}
            {% endif %}

            <li class="nav-item ">
                <a  href="{{ path('user_show_profile') }}" class="nav-link {{ disabled }}">
                    <i class="fa fa-user" aria-hidden="true"></i> {{ 'menu.user_show_meta'|trans }}
                </a>
            </li>
            {% set disabled = '' %}
           {% if tab_active == 'meta' %}
               {% set disabled = 'disabled' %}
            {% endif %}

            <li class="nav-item   ">
                <a  href="{{ path('user_edit_profile') }}" class="nav-link {{ disabled }}">
                    <i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.user_edit_meta'|trans }}
                </a>
            </li>
            {% set disabled = '' %}
            {% if tab_active == 'album' %}
                {% set disabled = 'disabled' %}
            {% endif %}

            <li class="nav-item  ">
                <a  href="{{ path('user_edit_album') }}" class="nav-link {{ disabled }}">
                    <i class="fa fa-camera" aria-hidden="true"></i> {{ 'menu.user_edit_album'|trans }}
                </a>
            </li>
            {% set disabled = '' %}
            {% if tab_active == 'main' %}
                {% set disabled = 'disabled' %}
            {% endif %}

            <li class="nav-item    ">
                <a href="{{ path('user_edit_main') }}" class="nav-link {{ disabled }}">
                    <i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.user_edit_main'|trans }}
                </a>
            </li>

        </ul>
    </div>
{% endblock %}